/* General Styles */

header {

}

.container {
  display: flex;
  justify-content: space-around;
}

main {
  border: 2px solid black;
  flex: 5;
}

aside {
  border: 2px solid blue;
  flex: 1;
}

section {
  border: 2px solid red;
}

.lutins {
  border: 2px solid pink;
}
.game {
  border: 2px solid deeppink;
}
.sleigh {
  border: 2px solid grey;
}

.dnone {
  display: none;
}


#start {
  box-shadow: rgb(242, 156, 147) 0px 1px 0px 0px inset;
  background: linear-gradient(rgb(254, 26, 0) 5%, rgb(206, 1, 0) 100%) rgb(254, 26, 0);
  border-radius: 6px;
  border: 1px solid rgb(216, 53, 38);
  display: inline-block;
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: rgb(178, 62, 53) 0px 1px 0px;
}

#start:hover {
    background: linear-gradient(rgb(206, 1, 0) 5%, rgb(254, 26, 0) 100%) rgb(206, 1, 0);
}
footer {
  display: flex;
  justify-content: space-around;
  background: #dedede;
  border: 2px solid green;
}

/* Change cursor :*/
* {
  cursor: url(img/sled2.png), auto;
}
/* H titles */

h1 {
  text-align: center;
}
/* Elements styles */

/* Santa */

/* Lutins */

/* Gifts */
.gift, .giftcontain {
  width: 3em;
  height: 3em;
}

.giftcontain {
  background: pink;
}
.giftcontain:hover {
  background: green;
}

/* Score */

/* Timer */

/* Footer */

.footercol {
  flex:1;
}

/* Media Queries */

@media screen and (min-width: 200px) and (max-width: 640px) {
  .santa {
    display:none;
  }
}
